.graph-container {
    display: grid;
    grid-template-columns: repeat(51, 15px); /* 7 столбцов для каждого дня недели */
    gap: 2px;
    place-content: center;
    padding: 5px;
    height: 107px;
  }


  .cell {
    width: 15px;
    height: 15px;
    background-color: rgb(255, 0, 0);
    display: inline-block;

  }

  .cell:hover {
    border: 1px solid rgba(0, 0, 0, 0.507);
  }

  .container {
    display: flex;
    justify-content: center;
  }

  .weekdays {
    display: inline-flex;
    flex-direction: column;
    width: 18px;
    padding-right: 5px;
    height: 81px;
  }