
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.graph-container {
    display: grid;
    grid-template-columns: repeat(51, 15px); /* 7 столбцов для каждого дня недели */
    gap: 2px;
    padding: 5px;
    height: 107px;
    position: relative;
  }


  .cell {
    width: 15px;
    height: 15px;
  }

  .cell:hover {
    border: 1px solid rgba(0, 0, 0, 0.507);
  }

  .container {
    display: flex;
    justify-content: center;
    
  }

  .weekdays {
    display: inline-flex;
    flex-direction: column;
    width: 18px;
    padding-right: 5px;
    height: 81px;
  }

  .cell::after {
    content: attr(data-tooltip);
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background-color: black;
    border-radius: 3px;
    white-space: nowrap;
    opacity: 0;
    transition: all .7s;
    padding: 7px 12px;
    font-size: 10px;
    
    font-family: 'Inter', sans-serif;
    font-weight: 400;
  }

  .cell:hover::after {
    opacity: 1;
    z-index: 10;
  }