.App {
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    width: 1200px;
}
  
.months {
    display: flex;
    width: 848px;
    height: 15px;
    margin: 0 165px;
    padding-bottom: 5px;
}